import(methods)
importFrom("graphics", "hist", "lines")
importFrom("stats", "ecdf", "optimise", "pchisq", "quantile", "runif", "sd")
export(bwcalc)
export(compareAct)
export(compareCkern)
export(compareTimes)
export(dvmkern)
export(fitact)
export(fitlincirc)
export(lincircKern)
export(rvmkern)
export(yfromx)
exportClasses(actmod)
exportClasses(lincircmod)
exportMethods(plot)
exportMethods(show)
